.vendor-wrapper,
.sync-scope-wrapper,
.sync-content-wrapper {
  margin: 16px 0;

  .title {
    margin-bottom: 12px;
    font-size: 14px;
    color: #313238;
  }
}

.sync-scope-wrapper {
  :global(.bk-radio) {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sync-content-wrapper {
  .item {
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 4px;

    .label {
      flex: 0 0 176px;
      font-size: 12px;
      color: #313238;
      text-align: right;
      white-space: nowrap;

      &::after {
        content: ':';
        margin: 0 10px 0 5px;
      }
    }

    .short-label {
      flex: 0 0 160px;
      font-size: 12px;
      color: #313238;
      text-align: right;
      white-space: nowrap;

      &::after {
        content: ':';
        margin: 0 10px 0 5px;
      }
    }

    .money {
      font-family: MicrosoftYaHei-Bold, sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #f59500;
    }

    .count {
      font-family: MicrosoftYaHei, sans-serif;
      font-size: 14px;
      color: #313238;
    }
  }

  .block {
    padding: 8px 0 4px;
    background-color: #f5f7fa;
  }
}

.mb12 {
  margin-bottom: 12px;
}

.button {
  width: 88px;

  + .button {
    margin-left: 8px;
  }
}
